.search-wrapper {
  margin: 10px;
}

.custom-searchbar {
  background: transparent; /* Background transparent */
 
  --placeholder-color: #808080; /* Placeholder color gray */
  --input-background-color:#4DA768 ;
  --icon-color: #808080; /* Search icon color gray */
  --color: #000000; /* Text color */
  --padding-start: 10px;
  border: 1px solid #4DA768; border-radius: 25px; 
   
  
}

ion-searchbar::part(icon) {
  --color: #808080; /* Gray search icon color */
}

.time-content {
  font-size: 0.8rem;
  color: gray;
  text-align: right;
}
