<ion-content [fullscreen]="true" style="--padding-bottom: 50px;">
  <!-- Espace supplémentaire avant l'image -->
  <div style="margin-bottom: 30px;"></div> <!-- Ajout d'un espace de 30px -->

  <!-- Ajout de l'image en haut avec une taille réduite et centrée -->
  <div class="image-container" style="text-align: center; margin-bottom: 20px;">
    <img src="assets/pass.png" alt="Create New Password" style="max-width: 80%; height: auto;" />
  </div>

  <!-- Titre de la page en gras -->
  <h1 style="text-align: center; font-weight: bold; margin: 20px;">Create New Password</h1>

  <!-- Champs de saisie pour le mot de passe avec cadre vert -->
  <div style="margin: 20px;">
    <ion-item style="border: 1px solid #4DA768; border-radius: 25px; margin-bottom: 40px;">
      <ion-label position="floating" style="color: #B0B0B0;">New Password</ion-label>
      <ion-input type="password" required style="border: none; border-radius: 25px;" placeholder=" "></ion-input>
    </ion-item>
    <ion-item style="border: 1px solid #4DA768; border-radius: 25px; margin-bottom: 40px;">
      <ion-label position="floating" style="color: #B0B0B0;">Confirm Password</ion-label>
      <ion-input type="password" required style="border: none; border-radius: 25px;" placeholder=" "></ion-input>
    </ion-item>
  </div>

  <!-- Bouton pour créer le mot de passe -->
  <div style="display: flex; justify-content: center; margin-top: 80px;">
    <ion-button expand="full" color="success" shape="round" style="width: 420px; height: 40px; display: flex; align-items: center; justify-content: center; color: white; --background: #4DA768;" (click)="createPassword()">
      Save
    </ion-button>
  </div>
</ion-content>
