.illustration {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.options {
  margin-bottom: 20px;
}

.option-item {
  display: flex;
  align-items: center;
}

.sendBtn {
  margin-top: 20px;
}
.options {
  margin: 20px 0;
}

.option-card {
  margin-bottom: 10px; /* Espace entre les cartes */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.sendBtn {
  margin-top: 20px;
}
