<ion-content [fullscreen]="true">

  <!-- Ajout de l'image au top -->
  <div class="image-container">
    <img src="assets/image1.png" alt="Top Image" class="top-image">
  </div>

  <div class="header ion-text-center">
    <ion-title class="title" size="large">Forgot Password</ion-title>
    <p class="subtitle">
      Please enter your Email Address to <br>
      <span class="second-line">Receive a Verification Code</span>
    </p>
  </div>
  
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="email" placeholder="Enter your email" class="input"></ion-input>
      <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-button class="sendBtn" expand="block" shape="round" (click)="reset()"> Just Send</ion-button>
  </div>

</ion-content>
