<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/Ellipse 6.png" alt="">
        <ion-label>
          <h2>{{ userProfile.name }}</h2>
          <p>{{ userProfile.description }}</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button (click)="goToProfile()">
          <ion-icon slot="start" name="create-outline"></ion-icon>Update Profile
        </ion-button>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-item [routerLink]="'/dashboard'">
          <ion-icon name="pie-chart-outline"></ion-icon>
          Dashboard
        </ion-item>
        <ion-item [routerLink]="'/chat'">
          <ion-icon name="mail-outline"></ion-icon>
          Messages
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          Contact
        </ion-item>
        <ion-item (click)="signOut()">
          <ion-icon name="log-out-outline"></ion-icon>
          Sign Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
