<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-container">
  <!-- Liste des messages -->
  <div class="message-list">
    <div *ngFor="let message of messages" [ngClass]="{'sent': message.isMe, 'received': !message.isMe}" class="message-item">
      <div class="message-bubble" [ngClass]="{'sent': message.isMe}">
        <div *ngIf="message.text">{{ message.text }}</div>
        <div *ngIf="message.imageUrl">
          <img [src]="message.imageUrl" alt="Image envoyée">
        </div>
      </div>
    </div>
  </div>

  <!-- Barre d'envoi de message -->
  <div class="chat-input-bar">
    <ion-input [(ngModel)]="newMessage" placeholder="Tapez un message"></ion-input>
    <ion-button (click)="sendMessage()">Envoyer</ion-button>
    <ion-button (click)="addPhoto()">
      <ion-icon name="image-outline"></ion-icon>
    </ion-button>
    <!-- Champ de sélection de fichier caché -->
    <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
  </div>
</ion-content>
